<ion-view title="Home" id="page1">
	<div class="bar bar-subheader">
	<div class="tabs tabs-dark">
		<a class="tab-item" ui-sref="home2.cloud">
			Inventory
		</a>
		<a class="tab-item">
			Sold
		</a>
	</div>
	</div>
    <ion-content overflow-scroll="true" padding="true" class="has-subheader has-header">
        <form class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>