<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-hide="$exposeAside.active" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="menu" expose-aside-when="large">
        <ion-header-bar class="bar-stable">
            <div class="title" ui-sref="app.home">Home</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-list>
                <ion-item class="item-icon-left" menu-close="" ui-sref-active="active" ui-sref="app.vin">
                    <i class="icon ion-ios-barcode-outline"></i>
                    Vin Scanner
                </ion-item>
                <ion-item class="item-icon-left" menu-close="" ui-sref-active="active" ui-sref="app.titles">
                    <i class="icon ion-document-text"></i>
                    Titles
                </ion-item>
                <ion-item class="item-icon-left" menu-close="" ui-sref-active="active" ui-sref="app.help">
                    <i class="icon ion-help"></i>
                    Help
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
