/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../img/Roboto-Thin.woff2) format("woff2"), url(../img/Roboto-Thin.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../img/Roboto-Light.woff2) format("woff2"), url(../img/Roboto-Light.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../img/Roboto-Regular.woff2) format("woff2"), url(../img/Roboto-Regular.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
$font-family-base: "Roboto", sans-serif !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.center {
	margin: 0 auto;
	text-align: center;
}
.center-all {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.bold {
  font-weight: 600;
}
.smaller {
  font-size: smaller;
}
.left {
	text-align: left
}
.right {
	text-align: right
}
.underline {
	text-decoration: underline;
	cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.limit-width {
	max-width: 600px;
	margin: 0 auto;
}

ion-popover-view.fit {
  width: auto;
  height: auto;
  ion-content {
    position: relative;
  }
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  .item:first-child {
    @include border-top-radius($popover-border-radius-ios);
  }
  .item:last-child {
    @include border-bottom-radius($popover-border-radius-ios);
  }
}
.popover.fix-position {
  margin-top: -40px;
}
.popover.popover-bottom.fix-position {
  margin-top: 25px;
}
.platform-ios .popover-arrow {
  display: none
}
